.productCard{
  width: 100%;
  max-width: 300px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 0 auto;
  position: relative;
}

.card-image{
  width: 100%;
}

.card-info{
  padding: 20px;
  border-top: 1px solid #ddd;

}

.card-price{
  font-size: 30px;
  font-weight: 400;
  display: block;
  margin-bottom: 10px;
}

.card-title{
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.5;
  font-weight: 500;
}

.button-addcart{
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  margin: 12px 15px;
  color: var(--roxo);
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1.5rem;
  cursor: pointer;


}

.productCard:hover{
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.productCard:hover .button-addcart{
  display: flex;
}