.search-bar{
  background-color: #FFF;
  display: flex;
  width: 100%;
  max-width: 500px;
  justify-content: space-between;
  gap: 13px;
  padding-right: 13px;
}

.search-input{
  padding: 13px;
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 0.8rem;
  font-weight: 500;
  border-right: #ddd;
}

.search-button{
  background: none;
  border: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-500);

}