@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root{
  --bg-body:#ebebeb;
  --roxo:#8e44c0;
  --gray-500:#333;
  --red-100:#ff0000;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background: var(--bg-body);
}

.container{
  max-width: 1100px;
  margin: 0 auto;
}